[v-cloak] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Regular, sans-serif;
  -webkit-overflow-scrolling: touch;
}

/* 弹层 */
body.modalOpen {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
}

.transition-body {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

html {
  font-family: "DIN";
  touch-action: none;
  -webkit-touch-action: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

input,
select,
button,
textarea {
  border: none;
  outline: 0;
}

input {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #999;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  word-wrap: break-word;
}

a {
  outline: none;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.fs20 {
  font-size: 20px;
}

.clearfix::before,
.clearfix::after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix::after {
  clear: both;
}

.box-align {
  -moz-box-align: center;
  -webkit-box-align: center;
  -o-box-align: center;
  box-align: center;
}

.box-pack {
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}

.box-justify {
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
}

.box-end {
  -moz-box-pack: end;
  -webkit-box-pack: end;
  -o-box-pack: end;
  box-pack: end;
}

.box-flex {
  -webkit-box-flex: 1;
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

i {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
