@charset "UTF-8";

@my-blue     : #0066b3;
@my-purple   : #5347e9;
@my-green    : #5bc49f;
@my-red      : #ef3535;
@my-grey     : #9b9b9b;
@my-yellow   : #fdcc14;
@regular-font: 26px;
@big-font    : 36px;
@shadow      : 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
@assets      : '../assets/';

.align {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.background-align {
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
}

.red-percent {
  font-family   : DINAlternate-Bold, DINAlternate;
  font-size     : 36px;
  font-weight   : bold;
  letter-spacing: 2px;
  color         : #ef3535;
}

.add-padding-bottom {
  overflow-x    : hidden;
  padding-bottom: 224px;
}

.regular-margin {
  margin-left : 34px;
  margin-right: 34px;
}

.nums {
  font-family: DINAlternate-Bold, DINAlternate;
}
